[submodule "normalization-url-with-htaccess/unify-https"]
	path = normalization-url-with-htaccess/unify-https
	url = https://gist.github.com/da6252dd5e79a93fd7bf00d53d61f317.git
[submodule "normalization-url-with-htaccess/unify-www"]
	path = normalization-url-with-htaccess/unify-www
	url = https://gist.github.com/9b71aebd1cab27299612eeaa68d03e88.git
[submodule "normalization-url-with-htaccess/unify-no-www"]
	path = normalization-url-with-htaccess/unify-no-www
	url = https://gist.github.com/8e29e056e366581b755ac9b8fe496f60.git
[submodule "worodpress/wp-loop"]
	path = worodpress/wp-loop
	url = https://gist.github.com/yuki-tomioka/3264b96e01e6f2bc32f1503a81baef5f
